header {
    background-color: blue;
    overflow: hidden;
}
h1 {
    color: white;
    font-size: larger;
    font-size: large;
    font-family: Helvetica;
}
body,html {
    background-color: darkcyan;
}
main {
    background-color: blueviolet;
}
.btn {
    border: 0px;
    background: gold;
    padding: 10px 10px;
    color: white;
    font-family: Verdana;
}
a:link,a {
    color: white;
    font-family: Verdana;
}
p {
    color: white;
    font-family: Verdana;
}
div.right {
    position: relative;
    float: right;
    top: -30px;
    left: -20px;
}
.red {
    color: red;
}
div.right#clock {
    text-combine-upright: auto;
}
footer {
    position: fixed;
    background-color: rgb(50,50,50);
    background-size:100% 100%;
    text-align: center;
    font-variant-ligatures: additional-ligatures;
}
code.clock {
    font-size: small;
}